@charset "UTF-8";
.row{
	margin-right:-15px;
	margin-left:-15px;
}
body{
	position: relative;
}
.affix{
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar{
	margin-bottom: 0px;
	background-color: #f9c100;
  border: none;
}
.affix ~ .container-fluid{
	position: relative;
	top: 0px;
}
#beranda{
  padding-top:0px;
}
#layanan{
	padding-top:0 100px;
	height:500px;
	color: #fff;
	background-color: #212121;
}
#tim-kami{
	padding-top:50px;
	height:600px;
	color: #fff;
	background-color: #212121;
}
#galeri{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #212121;
}
#testimoni{
	padding-top:50px;
	height:300px;
	color: #fff;
	background-color: #212121;
}
#klien-kami{
	padding-top:50px;
	height:500px;
	color: #fff;
}
#kontak{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #212121;
}
#footer{
	padding-top:50px;
	height:500px;
	color: grey;
	background-color: black;
}
.navratakanan {
	float: right;
}
.logonavbar {
	width: 100%;
	vertical-align: center;
}
.animasi:first-child{
	visibility: hidden;
}

<!--SLIDE IN RIGHT EFEK-->

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


<!--SLIDE IN LEFT EFEK-->

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

<!--FADE IN UP EFEK-->

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

<!--EFEK HOVER-->

.hvr-bounce-in{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.judul-bg {
  display: inline;
  font-size: 115px;
  font-weight: 800;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
  color: #f9c100;
}
.judul {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  text-transform: capitalize;
  top: 26px;
}
.imgclient {
  width: 70%;
  padding-top: 180px;
}
.batasatas {
  margin-top: 100px;
}
.poin {
  margin: 25px 0;
}

.poin i {
  font-size: 55px;
  padding-right: 15px;
}

.poin h2 {
  margin-top: 0;
  text-transform: capitalize;
}

.poin:hover {
  cursor: pointer;
}

.poin:hover .pulse-shrink {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.poin:hover h2 {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
/* Pulse Shrink Efek*/
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse-shrink {
  display: inline-block;
}
.judullayanan {
  font-size: 20px;
  font-weight: 700;
}
table{
  border-color: green;
  padding-top:"20 px"
}
.fototimkami{
  width: 60%;
}
.batasatastim {
  margin-top: 30px;
}
.imgtestimoni{
  width: 130px;
  height: 130px;
}
.garistestimoni1{
  width: 100px;
  border-color: #f9c100;
}
.garistestimoni2{
  width: 70px;
  border-color: #f9c100;
}
.mer{
  width: 130px;
}


/*SLIDER DI TESTIMONI*/
.carousel-inner-test>.item>a>img,
.carousel-inner-test>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img{
  display:block;
  max-width:100%;
  height:auto;
}
.carousel-inner-test{position:relative;width:100%;overflow:hidden}
.carousel-inner-test>.item{
  position:relative;
  display:none;
  -webkit-transition:.6s ease-in-out left;
  -o-transition:.6s ease-in-out left;
  transition:.6s ease-in-out left
}
.carousel-inner-test>.item>a>img,.carousel-inner-test>.item>img{line-height:1}
@media all and (transform-3d),(-webkit-transform-3d){
  .carousel-inner-test>.item{
  -webkit-transition:-webkit-transform .6s ease-in-out;
  -o-transition:-o-transform .6s ease-in-out;
  transition:transform .6s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-perspective:1000px;perspective:1000px
}
.carousel-inner-test>.item.active.right,.carousel-inner-test>.item.next{
  left:0;-webkit-transform:translate3d(100%,0,0);
  transform:translate3d(100%,0,0)
}
.carousel-inner-test>.item.active.left,.carousel-inner-test>.item.prev{
  left:0;
  -webkit-transform:translate3d(-100%,0,0);
  transform:translate3d(-100%,0,0)
}
.carousel-inner-test>.item.active,
.carousel-inner-test>.item.next.left,
.carousel-inner-test>.item.prev.right{
  left:0;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0)}
}
.carousel-inner-test>.active,.carousel-inner-test>.next,.carousel-inner-test>.prev{
  display:block
}
.carousel-inner-test>.active{left:0}
.carousel-inner-test>.next,.carousel-inner-test>.prev{position:absolute;top:0;width:100%}
.carousel-inner-test>.next{left:100%}
.carousel-inner-test>.prev{left:-100%}
.carousel-inner-test>.next.left,.carousel-inner-test>.prev.right{left:0}
.carousel-inner-test>.active.left{left:-100%}
.carousel-inner-test>.active.right{left:100%}.carousel-control{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:15%;
  font-size:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
  filter:alpha(opacity=50);
  opacity:.5
}
.carousel-inner-test>.item>a>div,
.carousel-inner-test>.item>div,
.img-responsive,.thumbnail a>div,
.thumbnail>div{display:block;max-width:100%;height:250px}








/*SLIDER DARI BOOTSTRAP-MIN-CSS DIPINDAH DISINI*/

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img{
  display:block;
  max-width:100%;
  height:auto;
}

.carousel{position:relative}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-inner>.item{
  position:relative;
  display:none;
  -webkit-transition:.6s ease-in-out left;
  -o-transition:.6s ease-in-out left;
  transition:.6s ease-in-out left
}
.carousel-inner>.item>a>img,.carousel-inner>.item>img{line-height:1}
@media all and (transform-3d),(-webkit-transform-3d){
  .carousel-inner>.item{
  -webkit-transition:-webkit-transform .6s ease-in-out;
  -o-transition:-o-transform .6s ease-in-out;
  transition:transform .6s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-perspective:1000px;perspective:1000px
}
.carousel-inner>.item.active.right,.carousel-inner>.item.next{
  left:0;-webkit-transform:translate3d(100%,0,0);
  transform:translate3d(100%,0,0)
}
.carousel-inner>.item.active.left,.carousel-inner>.item.prev{
  left:0;
  -webkit-transform:translate3d(-100%,0,0);
  transform:translate3d(-100%,0,0)
}
.carousel-inner>.item.active,
.carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right{
  left:0;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0)}
}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
  display:block
}
.carousel-inner>.active{left:0}
.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
.carousel-inner>.next{left:100%}
.carousel-inner>.prev{left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}
.carousel-inner>.active.left{left:-100%}
.carousel-inner>.active.right{left:100%}.carousel-control{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:15%;
  font-size:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
  filter:alpha(opacity=50);
  opacity:.5
}
.carousel-control.left{
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat:repeat-x
}
.carousel-control.right{
  right:0;
  left:auto;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat:repeat-x
}
.carousel-control:focus,
.carousel-control:hover{
  color:#fff;text-decoration:none;
  filter:alpha(opacity=90);
  outline:0;opacity:.9
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev{
  position:absolute;
  top:50%;
  z-index:5;
  display:inline-block;
  margin-top:-10px
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev{
  left:50%;
  margin-left:-10px
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next{
  right:50%;
  margin-right:-10px
}
.carousel-control .icon-next,
.carousel-control .icon-prev{
  width:20px;
  height:20px;
  font-family:serif;
  line-height:1
}
.carousel-control .icon-prev:before{content:'\2039'}
.carousel-control .icon-next:before{content:'\203a'}
.carousel-indicators{
  position:absolute;
  bottom:10px;
  left:50%;
  z-index:15;
  width:60%;
  padding-left:0;
  margin-left:-30%;
  text-align:center;
  list-style:none
}
.carousel-indicators li{
  display:inline-block;
  width:10px;
  height:10px;
  margin:1px;
  text-indent:-999px;
  cursor:pointer;
  background-color:#000\9;
  background-color:rgba(0,0,0,0);
  border:1px solid #fff;
  border-radius:10px
}
.carousel-indicators .active{
  width:12px;
  height:12px;
  margin:0;
  background-color:#fff
}
.carousel-caption{
  position:absolute;
  right:15%;
  bottom:20px;
  left:15%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6)
}
.carousel-caption .btn{text-shadow:none}
@media screen and (min-width:768px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev{
    width:30px;
    height:30px;
    margin-top:-15px;
    font-size:30px
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev{margin-left:-15px}
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next{margin-right:-15px}
  .carousel-caption{right:20%;left:20%;padding-bottom:30px}
  .carousel-indicators{bottom:20px}
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,.thumbnail a>img,
.thumbnail>img{display:block;max-width:100%;height:auto}
