@charset "UTF-8";
.row{
	margin-right:-15px;
	margin-left:-15px;
}
body{
	position: relative; 
}
.affix{
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar{
	margin-bottom: 0px;
	background-color: #ffffff;
	border-color: #33ff8c;
}
.affix ~ .container-fluid{
	position: relative;
	top: 50px;
}
#layanan{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #1E88E5;
}
#tim-kami{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: red;
}
#galeri{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #ff9800;
}
#testimoni{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #00bcd4;
}
#klien-kami{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #009688;
}
#kontak{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #33ff8c;
}
#footer{
	padding-top:50px;
	height:500px;
	color: grey;
	background-color: black;
}
.navratakanan {
	float: right;
}
.logonavbar {
	width: 100%;
	vertical-align: center;
}
.animasi:first-child{
	visibility: hidden;
}

<!--SLIDE IN RIGHT-->
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


<!--SLIDE IN LEFT-->
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}